.places {
  background-color: #f5f5f5;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 584px) {
  .places {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 320px);
    justify-items: center;
  }
}
