.page__header {
  padding-top: 50px;
}

@media screen and (max-width: 896px) {
  .header {
    padding-top: 31px;
  }
}

@media screen and (max-width: 648px) {
  .header {
    padding-top: 25px;
  }
}
