.lead__title {
  max-width: 527px;
  margin: 24px 0 0;
  font-family: 'Manrope', Arial, sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 134%;
}

@media screen and (max-width: 1152px) {
  .lead__title {
    max-width: 450px;
    font-size: 28px;
    line-height: 125%;
  }
}

@media screen and (max-width: 896px) {
  .lead__title {
    max-width: 315px;
    font-size: 25px;
    line-height: 115%;
  }
}

@media screen and (max-width: 648px) {
  .lead__title {
    max-width: 285px;
    font-size: 23px;
    line-height: 110%;
  }
}

@media screen and (max-width: 450px) {
  .lead__title {
    max-width: 270px;
    font-size: 24px;
    line-height: 120%;
  }
}
