.lead__image {
  width: 355px;
  max-height: 355px;
}

@media screen and (max-width: 1152px) {
  .lead__image {
    width: 305px;
    max-height: 305px;
  }
}

@media screen and (max-width: 896px) {
  .lead__image {
    width: 255px;
    max-height: 255px;
  }
}

@media screen and (max-width: 648px) {
  .lead__image {
    width: 225px;
    max-height: 225px;
  }
}

@media screen and (max-width: 584px) {
  .lead__image {
    width: 300px;
    max-height: 300px;
  }
}

@media screen and (max-width: 450px) {
  .lead__image {
    width: 270px;
    max-height: 270px;
  }
}
