.rate__table-cell-title {
  font-family: 'Manrope', Arial, sans-serif;
  font-size: 13px;
  font-weight: 800;
  line-height: 18px;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
