.footer {
  background-color: #fed0ab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 620px;
  height: 48.44vw;
}

@media screen and (max-width: 1152px){
  .footer {
    height: 50.78vw;
  }
}

@media screen and (max-width: 896px){
  .footer {
    height: 54.69vw;
  }
}

@media screen and (max-width: 544px){
  .footer {
    height: 68.75vw;
  }
}
