.page__footer {
  margin: 85px -68px 0;
}

@media screen and (max-width: 1152px){
  .page__footer {
    margin: 6.35vw -48px 0;
  }
}

@media screen and (max-width: 896px){
  .page__footer {
    margin: 7.16vw -25px 0;
  }
}

@media screen and (max-width: 544px){
  .page__footer {
    margin-top: 15.63vw;
  }
}
